@charset "utf-8";
.logo {
	text-align: center;
}

/* Text */
.text {
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4C474A;
}
.header1-text {
    text-align: center;
    font-family: 'Abel', 'Open Sans', sans-serif;
    color: #4C474A;
    font-size: 36px;
}
.header2-text { 
	text-align: center;
    font-family: 'Abel', 'Open Sans', sans-serif;
    color: #5AB37F;
    font-size: 24px;
	padding-top: 20px;
	
}
.weeklyupdate{
	text-align: center;
    font-family: 'Abel', 'Open Sans', sans-serif;
	background-color: rgba(76, 71, 74, 0.8);
	margin-top: 0px;
	padding: 20px;
}

.eventinfo{ 
color: #ffaa36;

}

.upcomingtext{
	color: aliceblue;
}

.header3-text {
    text-align: center;
    font-family: 'Abel', 'Open Sans', sans-serif;
    color: #4C474A;
	font-size: 14px;
} 

body { /* Body Colour */
	background-color: #FFDF9F;
}

h3 { 
color: #5AB37F;
text-underline-position: auto;
}

h4 { 
	font-family: 'Abel', 'Open Sans', sans-serif;
	color: white;
	margin-top: 10px;
	font-size: 20px;
}

h5 {
	font-family: 'Abel', 'Open Sans', sans-serif;
	color: #FFAA36;
	margin: 10px 0 0 0;
	padding: 10px;
	background-color: #4C474A;
}

.new { 
 	padding-bottom: 20px;
}

.new > p {
	color: white;
	font-size: 16px;

}

h5 + p {
	padding: 10px;
	border:#4C474A solid;
	margin-bottom: 0;
}

h6 {
	font-family: 'Abel', 'Open Sans', sans-serif;
	color: #ffaa36;
	margin-top: 10px;
	text-align: center;
	padding-bottom: 10px;
}

.abel {
	text-align: center;
	font-family: 'Abel', 'Open Sans', sans-serif; 
	font-size: 20px;
}

.sans {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

/* button style */

::selection {
  background: #FFAA36; /* Text Selector Colours */
}
::-moz-selection {
  background: #FFAA36; 
} 

.signup .nav-link.btn.btn-outline-primary{
	color: black;
}

.nav-link {
	color: #5AB37F;
}
.carouselimage {

	height: 100%;
}
.homecarousel {
    margin-left: 10px;
    width: 100%;
}

.testimonialimage {
	max-width: 100%;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
}
nav.navbar-dark {
	background: rgba(76, 71, 74, 0.8) !important;
}	
.active-link {
	color: #5AB37F !important;
	font-weight: 600;
}
.social-media {
	height: 25px;
	width: 25px;
}
.break {
	height: 40px;
}

.btn-outline-primary {
    ;color: #ffffff;
    border-color: #5AB37F;
    background-color: #5AB37F;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-secondary {
    color: #ffffff;
    border-color: #FFAA36;
    background-color: #FFAA36;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-success {
    color: #4C474A;
    border-color: #4C474A;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-primary:hover {
    color: #5AB37F;
	background-color: white;
    border-color: #5AB37F;
    font-family: 'Open Sans', sans-serif
}
.btn-outline-secondary:hover {
    color: #FFAA36;
    border-color: #FFAA36;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-success:hover {
    color: #ffffff;
    border-color: #4C474A;
    background-color: #4C474A;
    font-family: 'Open Sans', sans-serif;
}

/* box style */

.welcome {
	padding: 0 100px;
}

.header1 {
	background-color: white;
}

.border {
	border:#4C474A solid;
}

.border1 {
	padding: 10px;
	border:#4C474A solid;
	margin-top: 0;
	border-top: none;
}

/*--------------------------*/
/* Sign up form */
/*--------------------------*/
li button {
	float: right;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #4C474A;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #FFDF9F;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #FFDF9F;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.signup {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.navbar-toggler-icon {
    width: 100px !important;
}


/*--------------------------*/
/* Vacancies page*/
/*--------------------------*/
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: rgba(76, 71, 74, 0.8);
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-top: 75px;
}

/* Sidebar links */
.sidebar a, .sidebar h2 {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #FFAA36;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #5AB37F;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 350px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

}

/* vacancy box */
.vacancy {
	background-color: rgba(76, 71, 74, 0.8);
	color: white;
	margin-top: 20px;
	padding: 20px;
}

.info{ 
color:#FFAA36 }


/* Modal content for payment*/
.modal-content-payment {
  background-color: #4C474A;
    color: #5AB37F;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
    height: 110px;
}

/* The Modal for payment (background) */
.modal-payment {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
background-color: rgba(76, 71, 74, 0.8);
}

/*--------------------------*/
/* Buy ticket*/
/*--------------------------*/
/* event box */
.event {
    align-items: center;
    padding: 100px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center 46%;
}

.details {
   background-color: rgba(76, 71, 74, 0.8);
   color: white;
   padding: 50px;
}

/*--------------------------*/
/* About */
/*--------------------------*/
/* roles */

.expert1 {
	font-style: italic;
	padding-bottom: 5px;
}

.expert1 + p {
	padding: 10px;
	border:#4C474A solid;
	margin-bottom: 0;
	border-top: none;
}

.text-capitalize {
	margin-bottom: 20px;
}

.textabout {
	padding-left: 70px;
	padding-right: 70px;
	
}

.textabout1 {
	padding-left: 70px;
	padding-right: 70px;
}

.textabout2 {
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 40px;

}

.aboutustext {
    margin-right: 5px;
    margin-left: 5px;
    max-width: 100%;
    width: 350px;
    display: inline-block;
}

/*--------------------------*/
/* Webshop */
/*--------------------------*/

.webshoptext {
    margin-right: 5px;
    margin-left: 5px;
    max-width: 100%;
    width: 500px;
    display: inline-block;
}

/*--------------------------*/
/* Design */
/*--------------------------*/

.prototype {
	text-align: center;
	padding: 20px;
	margin: 10px;
	background-color: #4C474A;
	color: white;
}

.yellow {
	background-color: #FFDF9F;
	color: white;
	border: solid;
	border-color: white;
	padding: 50px 0;
}

.grey {
	background-color: #4C474A;
	color: white;
	border: solid;
	border-color: #4C474A;
	padding: 50px 0;
}

.green {
	background-color: #5AB37F;
	color: white;
	border: solid;
	border-color: #5AB37F;
	padding: 50px 0;
}

.orange {
	background-color: #FFAA36;
	color: white;
	border: solid;
	border-color: #FFAA36;
	padding: 50px 0;
}

.list {
	text-align: center;
	padding: 20px 50px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: #5AB37F;
	margin: 10px 0 50px 0;
}