@charset "utf-8";
.logo {
	text-align: center;
}
.text {
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4C474A;
}
.header1-text {
    text-align: center;
    font-family: 'Abel', 'Open Sans', sans-serif;
    color: #4C474A;
    font-size: 32px;
}
.header2-text {
    text-align: center;
    font-family: 'Abel', 'Open Sans', sans-serif;
    color: #4C474A;
    font-size: 24px;
}

.header3-text {
    text-align: center;
    font-family: 'Abel', 'Open Sans', sans-serif;
    color: #4C474A;
	font-size: 14px;
} 

body { /* Body Colour */
	background-color: #FFDF9F;
}

::selection {
  background: #FFAA36; /* Text Selector Colours */
}
::-moz-selection {
  background: #FFAA36; 
} 

.nav-link {
	color: #5AB37F;
}
.carouselimage {
	max-width: 100%;
    height: auto;
}
.testimonialimage {
	max-width: 100%;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
}
nav.navbar-dark {
	background: rgba(76, 71, 74, 0.8) !important;
}	
.active-link {
	color: #5AB37F !important;
	font-weight: 600;
}
.social-media {
	height: 25px;
	width: 25px;
}
.break {
	height: 40px;
}

.btn-outline-primary {
    color: #5AB37F;
    border-color: #5AB37F;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-secondary {
    color: #FFAA36;
    border-color: #FFAA36;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-success {
    color: #4C474A;
    border-color: #4C474A;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-primary:hover {
    color: #ffffff;
    border-color: #5AB37F;
    background-color: #5AB37F;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-secondary:hover {
    color: #ffffff;
    border-color: #FFAA36;
    background-color: #FFAA36;
    font-family: 'Open Sans', sans-serif;
}
.btn-outline-success:hover {
    color: #ffffff;
    border-color: #4C474A;
    background-color: #4C474A;
    font-family: 'Open Sans', sans-serif;
}



/* Sign up form */
li button {
	float: right;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #4C474A;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #FFDF9F;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #FFDF9F;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #FFDF9F;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
