@charset "utf-8";
.logo {
	text-align: center;
}
.text {
	text-align: center;
}
body { /* Body Colour */
	background-color: #FFDF9F;
}

::selection {
  background: #FFAA36; /* Text Selector Colours */
}
::-moz-selection {
  background: #FFAA36; 
} 
.images {
	text-align: center;
	margin-bottom: 10px;
}
.nav-link {
	color: #5AB37F;
}
.carouselimage {
    height: 500px;
}
.testimonialimage {
    height: 350px;
    width: 350px;
    margin-right: 5px;
    margin-left: 5px;
}
.hometestimonial {
    text-align: center;
    
}
nav.navbar-dark {
	background: rgba(76, 71, 74, 0.8) !important;
}	
.active-link {
	color: #5AB37F !important;
	font-weight: 600;
}
.social-media {
	height: 25px;
	width: 25px;
}
.break {
	height: 40px;
}